# Build directories
build/
build_hw/
sim_build/

# Python artifacts
__pycache__/
*.pyc
.venv/

# Simulation artifacts
results.xml
*.vcd
*.ghw
*.lst
waveform.vcd

# Tool artifacts
.Xil/
*.jou
*.log
*.pds
*.fs
*.json
!**/*.lushay.json
!**/*.cst
!**/*.sv
!**/*.tcl

# OS artifacts
.DS_Store
