// Tang Primer 20K Pins (GW2A-LV18PG256C8)
// NOTE: Verify these against your specific SODIMM adapter carrier!

IO_LOC "i_clk" H11;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "i_reset_n" T10;
IO_PORT "i_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Host Dual-SPI Interface
IO_LOC "i_spi_sclk" C13;
IO_PORT "i_spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "i_spi_cs_n" B13;
IO_PORT "i_spi_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "io_spi_io0" B14;
IO_PORT "io_spi_io0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "io_spi_io1" A14;
IO_PORT "io_spi_io1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// External IMU Interface
IO_LOC "o_imu_sclk" D11;
IO_PORT "o_imu_sclk" IO_TYPE=LVCMOS33;

IO_LOC "o_imu_cs_n" N7;
IO_PORT "o_imu_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "o_imu_mosi" N8;
IO_PORT "o_imu_mosi" IO_TYPE=LVCMOS33;

IO_LOC "i_imu_miso" N9;
IO_PORT "i_imu_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "i_imu_int" L9;
IO_PORT "i_imu_int" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Motor DShot / PWM Pins (Channels 0..3)
IO_LOC "o_motor_pins[0]" T6;
IO_PORT "o_motor_pins[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_motor_pins[1]" T7;
IO_PORT "o_motor_pins[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_motor_pins[2]" P6;
IO_PORT "o_motor_pins[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_motor_pins[3]" R7;
IO_PORT "o_motor_pins[3]" DRIVE=8 IO_TYPE=LVCMOS33;

// NeoPixel RGB Status LED Pin
IO_LOC "o_neopixel_pin" A15;
IO_PORT "o_neopixel_pin" DRIVE=8 IO_TYPE=LVCMOS33;

// Hardware Logic Analyzer Debug Pins (0..3)
IO_LOC "o_debug_pins[0]" P8;
IO_PORT "o_debug_pins[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_debug_pins[1]" R8;
IO_PORT "o_debug_pins[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_debug_pins[2]" T8;
IO_PORT "o_debug_pins[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_debug_pins[3]" T9;
IO_PORT "o_debug_pins[3]" DRIVE=8 IO_TYPE=LVCMOS33;

// Host Interrupt Request Doorbell Pin
IO_LOC "o_int_req" D10;
IO_PORT "o_int_req" IO_TYPE=LVCMOS33;

// Board LEDs
IO_LOC "o_led[0]" L14;
IO_PORT "o_led[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[1]" L16;
IO_PORT "o_led[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[2]" N14;
IO_PORT "o_led[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[3]" N16;
IO_PORT "o_led[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[4]" M14;
IO_PORT "o_led[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[5]" M15;
IO_PORT "o_led[5]" DRIVE=8 IO_TYPE=LVCMOS33;
