// Tang Primer 20K Pins (GW2A-LV18PG256C8)
// NOTE: Verify these against your specific SODIMM adapter carrier!

IO_LOC "i_clk" H11;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "i_reset_n" T10;
IO_PORT "i_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SPI Interface (Assuming PMOD or similar)
IO_LOC "i_spi_sclk" C13;
IO_PORT "i_spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "i_spi_cs_n" B13;
IO_PORT "i_spi_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "i_spi_mosi" B14;
IO_PORT "i_spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "o_spi_miso" A14;
IO_PORT "o_spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// LEDs
IO_LOC "o_led[0]" L14;
IO_PORT "o_led[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[1]" L16;
IO_PORT "o_led[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[2]" N14;
IO_PORT "o_led[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[3]" N16;
IO_PORT "o_led[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[4]" M14;
IO_PORT "o_led[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "o_led[5]" M15;
IO_PORT "o_led[5]" DRIVE=8 IO_TYPE=LVCMOS33;
